.bizCard {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: left;
	width: 300px;
	height: 164px;
	margin-bottom: 40px;
	background-color: #262626;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bizCard .content {
	display: flex;
	padding: 20px;
	flex-direction: column;
}

.bizCard .content div {
	margin-top: 10px;
	margin-bottom: 12px;
}

.bizCard .content div:last-child {
	margin-bottom: 0;
}

.bizCard p {
	color: #ffffff;
	margin: auto;
	margin-bottom: 8px;
	font-weight: lighter;
}

.name {
	font-size: 16px;
	font-weight: 600;
}

.company {
	font-size: 14px;
	font-weight: 400;
}

.phoneNumber {
	font-size: 14px;
	font-weight: 400;
}

.email {
	font-size: 14px;
	font-weight: 400;
}

.bizCardLogo {
	position: absolute;
	font-family: "Roboto", sans-serif;
	right: 20px;
	bottom: 20px;
}
