.swiper {
	margin: 0;
}

.swiper-slide {
	width: 300px;
	margin-left: 40px;
	transition: margin-left 0.2s ease; /* 트랜지션 추가 */
}

.swiper-slide-active {
	margin-left: 0;
}

.swiper-slide-prev {
	margin-top: 5%;
}
